<!--  <h1> <%= Time.now %> </h1> -->

<!-- <form action="ask">
  <input type="text" name="ask">
  <input type="submit" value="Ask!">
</form> -->

<form class="form-inline" action="answer">
  <div class="form-group">
    <input type="text" name="ask" class="form-control">
  </div>
  <button type="submit" value="Ask!" class="btn btn-primary">Submit</button>
</form>

