<!--  <h1> <%= Time.now %> </h1> -->

<!-- <form action="ask">
  <input type="text" name="ask">
  <input type="submit" value="Ask!">
</form> -->

<form id="form" action="answer">
    <h3>Ask a question</h3>
    <input type="text" name="ask" class="form-inline"></input>
    <input type="submit" id="submit" class="btn btn-primary">
    <div id="ask"></div>
</form>

<%= link_to "Answers", "/answer" %>


